$card-width: 300px;

.product {
  width: $card-width;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: wrap;

    ::ng-deep .mat-card-header-text {
      margin: 0;
    }
  
    .header__name {
      margin-bottom: 0;
    }

    .header__price {
      margin: 5px 0 5px auto;
      font-size: 0.9rem;
    }
  }

  &__image {
    width: $card-width;
    height: $card-width;
    position: relative;
    background-image: "assets/img/thumbnail.png";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: $card-width;
    height: $card-width;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.6);

      &::after {
        font-size: 2rem;
        content: "Upload thumbnail"
      }
    }
  }
  
  &__variants {
    position: relative;

    .variant {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__edit {
    margin-right: 10px;
  }
}
