.navbar {
  display: flex;
  justify-content: flex-end;

  &__title {
    margin-right: auto;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  &__admin {
    margin-left: 10px;
    margin-right: 10px;
    .mat-icon {
      margin-right: 10px;
    }
  }
  
  &__login {
    .mat-icon {
      margin-right: 10px;
    }
  }
}
