<mat-toolbar class="navbar" color="primary">
  <a [routerLink]="['/']" class="navbar__title">
    <h1>Product Database</h1>
  </a>
  <a *ngIf="authService.isAuthenticated()" [routerLink]="['/admin']" class="navbar__admin">
    <span>Admin page</span>
  </a>
  <button
    *ngIf="!authService.isAuthenticated()"
    mat-flat-button
    class="navbar__login"
    aria-label="Example icon-button with share icon"
    (click)="goToLogin()"
  >
    <mat-icon>account_circle</mat-icon>
    <span>Login</span>
  </button>
  <button
    *ngIf="authService.isAuthenticated()"
    mat-flat-button
    class="navbar__login"
    aria-label="Example icon-button with share icon"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
