.navbar {
  display: flex;
  justify-content: flex-end;

  &__title {
    margin-right: auto;
  }

  &__admin {
    margin-right: 30px;
  }

  &__login {
    .mat-icon {
      margin-right: 10px;
    }
  }
}
