<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput appNumberInput formControlName="price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thumbnail</mat-label>
    <input matInput type="text" formControlName="thumbnail">
  </mat-form-field>
  <button (click)="submit()" mat-button>Apply</button>
</form>
