<form [formGroup]="form" *ngIf="loaded" (submit)="submit()" class="product-form">
  <h2 *ngIf="!product">Add a new product</h2>
  <h2 *ngIf="product">Edit a product</h2>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error>{{ getError("name") }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description" />
    <mat-error>{{ getError("description") }}</mat-error>
  </mat-form-field>
  <fieldset class="product-form__variants" formArrayName="variants">
    <legend>Variants</legend>
    <div
      class="product-form__variant"
      *ngFor="let variant of variants.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field class="product-form__variant-name">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error>{{ getError("variants." + i + ".name") }}</mat-error>
      </mat-form-field>
      <mat-form-field class="product-form__variant-price">
        <mat-label>Price</mat-label>
        <input matInput appNumberInput formControlName="price" />
        <mat-error>{{ getError("variants." + i + ".price") }}</mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="removeVariant(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button type="button" mat-flat-button (click)="addVariant()">Add a new variant</button>
  </fieldset>
  <button
    class="product-form__apply"
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
  >
    Apply
  </button>
</form>
