<div class="search-bar">
  <mat-form-field class="search-bar__input">
    <mat-label>Search</mat-label>
    <mat-chip-list #chipList aria-label="Product keywords selection">
      <mat-chip
        *ngFor="let keyword of keywords"
        [selectable]="false"
        [removable]="true"
        (removed)="removeKeyword(keyword)"
      >
        {{ keyword }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="true"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addKeyword($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <mat-radio-group
    [value]="searchOperator"
    class="search-bar__operator"
    aria-label="Select search operator"
    (change)="changeOperator($event)"
  >
    <mat-radio-button [value]="SearchOperator.OR">OR</mat-radio-button>
    <mat-radio-button [value]="SearchOperator.AND">AND</mat-radio-button>
  </mat-radio-group>
</div>
<div class="products-list">
  <app-products-list-item
    *ngFor="let product of filteredProducts"
    [product]="product"
    [readonly]="readonly"
  ></app-products-list-item>
</div>
