.search-bar {
  display: flex;
  margin: 10px;
  flex: 1;
  display: flex;

  &__input {
    flex: 1;
    margin-right: 20px;
  }

  &__operator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.products-list {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px;
}
